 <!-- Footer -->
 <footer class="page-footer">
    <!-- Grid row -->
    <!-- Enlever peut être le align items... -->
    <div class="row align-items-end">
      <!-- Grid column -->
      <div class="col- col-sm-6 col-md-6 col-lg-6 ">

        <!-- Content -->
        <h5 class="text-uppercase">Mots du développeur</h5>
        <p>
          Mon tout 1er jeu Fullstack Javascript avec la MEAN Stack -(MongoDB | ExpressJS | Angular 7 et NodeJS)-, 
          Canvas et Socket IO. J'ai reproduit un touché coulé version Espace (qui est loin d'être aboutie). 
          J'ai pris énormément de plaisir à développer ce jeu et à surmonter les difficultées qui se présenter à moi. 
          Cela je pense m'a fait pas mal progresser surtout en Angular mais aussi avec la composante Socket IO. 
        </p>
      </div>
      <!-- Grid column -->

      <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->

      <!-- Grid column -->
      <div class="col- col-sm-3 col-md-3 col-lg-3 mb-md-0 mb-2">
        <!-- Links -->
        <h5 class="text-uppercase">Techno utilisées</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://www.mongodb.com/fr">MongoDB</a>
          </li>
          <li>
            <a href="http://expressjs.com/">ExpressJS</a>
          </li>
          <li>
            <a href="https://angular.io/">Angular 7</a>
          </li>
          <li>
            <a href="https://nodejs.org/en/">NodeJS</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col- col-sm-3 col-md-3 col-lg-3 mb-md-0 mb-2">
        <!-- Links -->
        <h5 class="text-uppercase">Les autres Technos</h5>
        <ul class="list-unstyled">
          <li>
            <a href="https://socket.io/">Socket IO</a>
          </li>
          <li>
            <a href="https://developer.mozilla.org/fr/docs/Tutoriel_canvas">Canvas</a>
          </li>
        </ul>
        <div class="footer-copyright text-center py-2"> © 2019 Copyright:
            <a href=""> Paul Durand </a>
        </div>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </footer>
  <!-- Footer -->