 <!-- Footer -->
 <footer class="page-footer">
    <!-- Grid row -->
    <!-- Enlever peut être le align items... -->
    <div class="row align-items-end">
      <!-- Grid column -->
      <div class="col- col-sm-6 col-md-6 col-lg-6 ">

        <!-- Content -->
        <h5 class="text-uppercase">Mots du développeur</h5>
        <p>Here you can use rows and columns here to organize your footer content.</p>
        <div class="footer-copyright text-center py-2"> © 2019 Copyright:
            <a href=""> Paul Durand</a>
          </div>
      </div>
      <!-- Grid column -->

      <!-- <hr class="clearfix w-100 d-md-none pb-3"> -->

      <!-- Grid column -->
      <div class="col- col-sm-3 col-md-3 col-lg-3 mb-md-0 mb-2">
        <!-- Links -->
        <h5 class="text-uppercase">Techno utilisées</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col- col-sm-3 col-md-3 col-lg-3 mb-md-0 mb-2">
        <!-- Links -->
        <h5 class="text-uppercase">Autres liens ?!</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!">Link 1</a>
          </li>
          <li>
            <a href="#!">Link 2</a>
          </li>
          <li>
            <a href="#!">Link 3</a>
          </li>
          <li>
            <a href="#!">Link 4</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-2"> © 2019 Copyright:
      <a href=""> Paul Durand</a>
    </div> -->
    <!-- Copyright -->
  </footer>
  <!-- Footer -->