
<div id='gameContainer' >
  <canvas class='canvasgrid' width="750px" height="600px">
    Sorry, your browser doesn't support the &lt;canvas&gt; element.
  </canvas>
  <canvas class='canvasredcross' width="750px" height="600px" (click)="clickFleet($event)" >
    Sorry, your browser doesn't support the &lt;canvas&gt; element.
  </canvas>
  <div id="menu" class="bg-dark" *ngIf="decoInput">
    <div class="row btnspace">
      <div class="col- col-sm-3 col-md-3 col-lg-3">

      </div>
      <div class="col- col-sm-6 col-md-6 col-lg-6">
        <button type="button" class="btn btn-danger btn-lg enter-game" (click)="gameAccess()"> Jouer </button>
        <br>
        <div *ngIf="notConnect">
          <small class="text-danger">Veuillez vous connecter pour accéder au jeu !</small>
        </div>
      </div>
      <div class="col- col-sm-3 col-md-3 col-lg-3">

      </div>
    </div>
    <div class="row btnspace">
      <div class="col- col-sm-3 col-md-3 col-lg-3">

      </div>
      <div class="col- col-sm-6 col-md-6 col-lg-6">
        <button type="button" class="btn btn-warning btn-lg"> Paramètres </button>
      </div>
      <div class="col- col-sm-3 col-md-3 col-lg-3">

      </div>
    </div>
    <div class="row btnspace">
      <div class="col- col-sm-3 col-md-3 col-lg-3">

      </div>
      <div class="col- col-sm-6 col-md-6 col-lg-6">
        <button type="button" class="btn btn-info btn-lg"> Crédits </button>
      </div>
      <div class="col- col-sm-3 col-md-3 col-lg-3">

      </div>
    </div>
  </div>
</div>

