#gameContainer {
    /* background-color: rgb(216, 143, 54); */
    /* Permet aux canvas de se superposer normalement */
    position: relative;
    display: block;
    height: 700px;
}

.canvasgrid {
    background-image: url('../../assets/img/backgroundSpace4.jpg');
    background-color: transparent;
    position: absolute;
    display: block;
    z-index: 1;
}

/* .canvasGreen {
    background-color: transparent;
    position: absolute;
    display: block;
    z-index: 1;
} */

.canvasredcross {
    position: absolute;
    display: block;
    z-index: 2;
}

#menu {
    width: 750px;
    height: 700px;
    position: absolute;
    z-index: 3;
}

.btnspace {
    padding-top: 25px;
}